<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello

<form th:action="@{/save}" method="post" enctype="multipart/form-data">



    <input type="" name="username" placeholder="username"><br><br>
    <input type="" name="password" placeholder="password"><br><br>
    <input type="email" name="email" placeholder="email"><br><br>

    <input type="file" name="file" placeholder="">

    <input type="submit" value="go!">


</form>


</body>
</html>